{% extends "testhtml.html" %}
{% load static %}
{% block content %}

  <form method="post" id="addcourse" class="ui form">
    {% csrf_token %}
	<div class="field">
		<h1>Add Course to Curriculum</h1>
	</div>

	<!-- <div class="field">
		<label>Semester</label>
		<div class="ui input focus three wide field">
			<input type="number" name="semester">
	</div> -->

  <input id="semester" type="number" name="semester" value="{{batch.semester}}" hidden="True" >
  <input type="number" id="batch" name="batch" value="{{batch.batch}}" hidden="True">
  <input id="numberofcourses" type="number" name="numberofcourses" value="{{batch.total_number_of_courses}}" hidden="True">

  {% for course in range %}

      <div class="fields">
      	<div class="three wide field">
      		<label>Course ID</label>
      		<div class="ui input focus">
      			<input id="cid" class="course_id" type="text" name="course_id">
      		</div>
      	</div>


      	<div class="three wide field">
      		<label>Course Type</label>
      		<select id="ctype" name="course_type" class="course_type ui fluid dropdown">
      		  <option value="Core">Professional Core</option>
      		  <option value="Elective">Professional Elective</option>
      		  <option value="Lab">Professional Lab</option>
      		  <option value="Project">Professional Project</option>
      		  <option value="ES">Engineering Science</option>
      		  <option value="NS">Natural Science</option>
      		  <option value="HS">Humanities</option>
      		  <option value="DS">Design</option>
      		  <option value="MN">Manufacturing</option>
      		  <option value="MS">Management Science</option>
      		</select>
      	</div>

      	<div class="three wide field">
      		<label>Course</label>
      		<select id="cname{{ forloop.counter }}" name="course" class="course">
      		  {% for cours in course_list %}
      			<option value="{{cours.Course.course_name}}">{{cours.Course.course_name}}</option>
      		  {% endfor %}
      		</select>
      		<!-- <input type="text" name="course"><br><br> -->
      	</div>

      	<div class="three wide field">
      		<label>Course Credits</label>
      		<div class="ui input focus">
      			<input class="course_credits" id="ccredits" type="number" name="course_credits">
      		</div>
      	</div>
      </div>

    	<div class="fields">
    		<div class="three wide field">
    			<label>Course Lecture</label>
    			<div class="ui input focus">
    				<input class="course_lecture" id="clecture" type="number" name="course_lecture">
    			</div>
    		</div>

    		<div class="three wide field">
    			<label>Course Tutorials</label>
    			<div class="ui input focus">
    				<input class="course_tutorials" id="ctutorial" type="number" name="course_tutorials">
    			</div>
    		</div>

    		<div class="three wide field">
    			<label>Course Practicals</label>
    			<div class="ui input focus">
    				<input class="course_practical" id="cpractical" type="number" name="course_practical">
    			</div>
    		</div>

    		<div class="three wide field">
    			<label>Course Discussions</label>
    			<div class="ui input focus">
    				<input class="course_discussion" id="cdiscussion" type="number" name="course_discussion">
    			</div>
    		</div>
    	</div>
      <hr>

    {% endfor %}

		<div class="testclass1" name="button">add Curriculum</div>

  </form>

  <div class="newdiv3">

  </div>


  <script type="text/javascript">
    // alert("one");
    $(document).ready(function(){
      $('.testclass1').on('click',function(e){
        alert("one");
        alert("0");
        var batch = parseInt(document.getElementById("batch").value);
        var sem = parseInt(document.getElementById("semester").value);
        var tnc = parseInt(document.getElementById("numberofcourses").value);
        var courseid = document.getElementsByClassName("course_id");
        alert("1");
        var coursetype = document.getElementsByClassName("course_type");
        var coursename = document.getElementsByClassName("course");
        var coursecredits =document.getElementsByClassName("course_credits");
        var courselecture =document.getElementsByClassName("course_lecture");
        var coursetutorial =document.getElementsByClassName("course_tutorials");
        var coursepractical =document.getElementsByClassName("course_practical");
        var coursediscussion =document.getElementsByClassName("course_discussion");
        alert(coursecredits[0].value);

        alert("fdf");

        var courseid1 =JSON.stringify( { courseid: courseid })
        alert("1");
        var coursetype1 =JSON.stringify( { coursetype: coursetype })
        var coursename1 =JSON.stringify( { coursename: coursename })
        var coursecredits1 =JSON.stringify( { coursecredits: coursecredits })
        var courselecture1 =JSON.stringify( { courselecture: courselecture })
        var coursetutorial1 =JSON.stringify( { coursetutorial: coursetutorial })
        var coursepractical1 =JSON.stringify( { coursepractical: coursepractical })
        var coursediscussion1 =JSON.stringify( { coursediscussion: coursediscussion })

          $.ajax({
            type:"POST",
                url: "/add_curriculum_course/",
                data:{
                  batch:batch,
                  semester:sem,
                  numberofcourses:tnc,
                  course_id:courseid1,
                  course_type:coursetype1,
                  course_name:coursename1,
                  course_credits:coursecredits1,
                  course_lecture:courselecture1,
                  course_tutorials:coursetutorial1,
                  course_practical:coursepractical1,
                  course_discussion:coursediscussion1,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function( data )
                {
                  alert("Courses Added !!");
                  $('#addcourse').hide();
    		        	$(".newdiv3").show();
    		        	$(".newdiv3").html(data.d);
                }
          });
      });
    });

  </script>

    <!-- <script type="text/javascript">
      alert("fuck");
      $(document).ready(function(){
    		$('.testclass1').on('click',function(e){
          alert("0");
          var batch = parseInt(document.getElementById("batch").value);
          var sem = parseInt(document.getElementById("semester").value);
          var tnc = parseInt(document.getElementById("numberofcourses").value);
          var courseid = document.getElementsByName("course_id");
          alert("1");
      		var coursetype = (document.getElementsByName("course_type");
          var coursename = (document.getElementsByName("course");
          var coursecredits =(document.getElementsByName("course_credits");
          var courselecture =(document.getElementsByName("course_lecture");
          var coursetutorial =(document.getElementsByName("course_tutorials");
          var coursepractical =(document.getElementsByName("course_practical");
          var coursediscussion =(document.getElementsByName("course_discussion");


          alert("fdf");

      			$.ajax({
      				type:"POST",
      		        url: "/add_curriculum_course/",
      		        data:{
                    batch:batch,
                    semester:sem,
                    numberofcourses:tnc,
                    course_id:courseid,
                    course_type:coursetype,
                    course_name:coursename,
                    course_credits:coursecredits,
                    course_lecture:courselecture,
                    course_tutorials:coursetutorial,
                    course_practical:coursepractical,
                    course_discussion:coursediscussion,
      		          csrfmiddlewaretoken: '{{ csrf_token }}'
      		        },
                  success: function( data )
      		        {
      		        	alert("Courses Added !!");
      		        }
      			});
    		});
    	});

    </script> -->

    <script type="text/javascript">
     $('.testclass1').click(function(){
         $('.4').addClass('completed');
         $('.4').removeClass('active');
       });
   </script>

{% endblock %}
