<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'globals/semantic-ui/components/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'globals/semantic-ui/components/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'globals/css/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'globals/css/mediaquery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'globals/css/semantic-notify.css' %}">

    <script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"> </script>
    <script type="text/javascript" src="{% static 'globals/js/jquery.formset.js' %}"> </script>
    <script type="text/javascript" src="{% static 'globals/js/semantic-notify.js' %}"> </script>
    <script type="text/javascript" src="{% static 'globals/js/ajax-post.js' %}"></script>
    <script type="text/javascript" src="{% static 'globals/js/notify.js' %}" type="text/javascript"></script>
    <!--title>{% block title %}{% endblock %}</title-->
	<title>Fusion!</title>
  </head>

  <style media="screen">
    .tpp{
      margin:auto;
      padding:70px;
      <!--margin-top:10vh;
      border:2px solid grey;-->
    }
  </style>

    {% block css %}

      <style media="screen">

      </style>

    {% endblock %}

  <body>
    <div class="tpp">
    {% block content %}

    {% endblock %}
    </div>
  </body>
</html>
