<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <a href="{% url 'add_btech_curriculums' %}"><button type="submit" name="button">Btech Curriculum</button></a>
    <a href="{% url 'add_batch_semester' %}"><button type="submit" name="button">Batch Semester</button></a>
    <a href="{% url 'add_courses' %}"><button type="submit" name="button">Course</button></a>
    <a href="{% url 'add_curriculum_courses' %}"><button type="submit" name="button">Curriculum Course</button></a>

  </body>
</html>
